#monthHeader {
	width: 700px;
	height: 50px;
	border: 0px;
	margin: 5px auto 0px auto;
	padding: 0px;
}

.button {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 25px;
	width: 52.5px;
	height: 50px;
	margin: -2.5px;
	padding: 0px;
/*	border: 1px solid; */
	display: inline-block;
	text-align: center;
	line-height: 50px;
}

.monthYear {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 25px;
	width: 600px;
	height: 50px;
	margin: -2.5px;
	padding: 0px;
/*	border: 1px solid; */
	display: inline-block;
	text-align: center;
	line-height: 50px;
}

#calendarBox {
	width: 700px;
	border: 0px;
	margin: 0px auto 5px auto;
	padding: 0px;
}

#headerRow {
	width: 700px;
	height: 25px;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.dayHeader {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 12.5px;
	width: 99.5px;
	height: 25px;
	border: 1px solid;
	margin: -2.5px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	line-height: 25px;
}

.calendarRow {
	width: 700px;
	height: 100px;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.calendarDayPrevNext {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 12.5px;
	color: #CCCCCC;
	width: 94.5px;
	height: 94.5px;
	border: 1px solid black;
	margin: -2.5px;
	padding: 2.5px;
	display: inline-block;
	text-align: left;
}


.calendarDay {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 12.5px;
	width: 94.5px;
	height: 94.5px;
	border: 1px solid black;
	margin: -2.5px;
	padding: 2.5px;
	display: inline-block;
	text-align: left;
}

.navigationLink {
	color: black;
	text-decoration: none;
}

.changesLink {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 12.5px;
	width: 700px;
	height: 25px;
	color: black;
	text-decoration: none;
	text-align: center;
	line-height: 25px;
	display: inline-block;
}